@charset "UTF-8";

@media screen and (min-width: 992px) {
    header > h1 {
        position: absolute;
        left: 30%;
        top: 70%;
                
        transform: translate(-50%, -50%);
    }

    img {
        position: absolute;
        left: 16%;
        top: 85%;
                
        transform: translate(-50%, -50%);
    }

    nav {
        position: absolute;
        left: 14%;
        top: 29%;
                
        transform: translate(50%, 50%);
    }

    main {
        max-width: 900px;
        text-align: center;
        font-size: 1.2em;
    }

}